* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-size: 40px;
    --dark-bg: #222222 ;
    --dark-2: #1F1F1F;
    --dark-3: #303030;
    color: white;
}

body {
    background-color: var(--dark-bg);
    display: flex; 
    height: 300px;
    flex-direction: column;
}

.head {
    background-color: var(--dark-2);
    text-align: center; 
    transform: translateX(-1%);
    padding: 20px;
    text-transform: uppercase;
}

.top {
    font-variant: small-caps;
    font-weight: 700;
    margin: 100px;
    display: flex;
}

.bottom {
    margin: auto;
    padding: 10px;
}

#team1, #team2 {
    margin: auto;
}

button {
    border: 1px solid #E8E8E8;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    border: 2px solid white;
    background-color: var(--dark-3);
}